// Write your overrides
.addBtn{
    position: absolute;right: 15px;top:15px;
}
.full-height > *
{display: flex}

.full-height > *{
flex: 1 1 auto
}  
.v-list-item-title *,
.v-autocomplete__selection *,
.v-card-title {
  text-transform: capitalize;
} 
.stamp {
  transform: rotate(12deg);
	color: #555;
	font-size: 3rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	// display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: 'Courier';
	-webkit-mask-image: url('/resources/images/customs/stamp.png');
  -webkit-mask-size: 944px 604px;
  mix-blend-mode: multiply;
  opacity: 0.8;
  // display: table;
  // margin: auto; 
  position: absolute;
  margin-top: 20px;

}

.is-nope {
  color: green;
  border: 0.5rem double green;
  transform: rotate(3deg);
	-webkit-mask-position: 2rem 3rem;
  font-size: 2rem;  
}
#Meeting-print  td {
  vertical-align: text-bottom;
}
#Meeting-print thead * {
  background-color: navy;
  color: white !important;
  font-size: small;
}
#Meeting-print *:not(b) { 
  color: black ;
}
#Meeting-print b {
  color: navy !important;  
}
#Meeting-print tbody b { 
  font-size: 14px;
}
#Meeting-print, #Meeting-print *{ 
    background-color: white; 
  }
@media print { 
  .v-slide-group.v-tabs,
  aside, header,
  .not-print{
    display: none !important;
  }
  main.layout-page-content {
    position: absolute;
    left: 0px;
    z-index: 99999999;
    width: 100%;
    height: 100%;
    background-color: white !important;
    top: 0px;
    padding: 0px;
    margin: 0px;
  }
}
.email { 
  color: white ;
}

.report th:first-child, .report td:first-child {
  display: none;
}
